# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Kubernetes
kubeconfig
*.kubeconfig

# Secrets
*.key
*.pem
*.cert
*.password

tmp.json